.serviceTable, td {
    border: 1px solid black;
}

td {
    height: 25px;
}

.serviceName {
    width: 400px;
}

.buttonCell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
}

.start-button:hover {
    background: beige;

}

.start-button:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #000;
    vertical-align: middle;
    margin-right: 5px;
    transition: border-left 0.2s ease;
}

.start-button.loading {
    /*border-radius: 50%;*/
    border: 4px solid #f3f3f3; /* 边框样式 */
    border-top: 4px solid #3498db; /* 顶部边框样式，可以根据需要调整颜色 */
    border-radius: 50%; /* 边框圆角 */
    animation: spin 2s linear infinite; /* 动画属性，调整动画时间和速度 */
}

.start-button.loading:before {
    border-left: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 0;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* 起始位置 */
    100% { transform: rotate(360deg); } /* 终止位置 */
}

#log-area {
    width: 100%;
    height: 400px;
    background-color: black;
    color: wheat;
    overflow: scroll;
}